<html>
	<head>
		<title>May blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Capibara</a></h1>
		</div>
		<div>
			<p>Publicado: 14.06.2014, 12:14</p>
			<h2><a href="">Hydrochoerus hydrochaeris</a></h2>
			<p>Tiene un cuerpo pesado en forma de barril y una cabeza pequeña, con un pelaje pardo rojizo en la parte superior del cuerpo que se vuelve pardo amarillo en la parte inferior. Pueden crecer hasta 1,30 m de largo y llegar a pesar 65 kg. Presenta pies ligeramente palmeados, prácticamente carece de cola y tiene 20 dientes. Sus patas posteriores son algo más largas que las anteriores, y los hocicos son romos, con los ojos, narinas y orejas en la parte superior de la cabeza. Las hembras son un poco más pesadas que los machos.</p>
		</div>
		<div>
			<h3><a href="">Cuerpo y pelaje</a></h3>
			<p>El cuerpo, que carece de cola, es de forma maciza y redonda, con el tronco grueso y cuatro patas cortas. Las patas anteriores, tienen cuatro dedos y las posteriores, tienen tres, expuestos en manera radial. Los dedos gruesos y parecidos a pezuñas presentan unas pequeñas membranas que los unen interdigitalmente. Los carpinchos consiguen una longitud de 1,00 a 1,30 m y una altura a la espalda de 50 a 60 cm,7 y las hembras suelen ser un poco más grandes que los machos. El peso medio es de 50 kg en los machos y 61 en las hembras; sin embargo, el peso real puede variar entre 27 y 65 kg.8 9 10 El extinto Neochoerus suicidens era significativamente más grande.</p>
		</div>
	</body>
</html>